


{% extends 'ufdrone/base.html' %}

{% block title %}Submit Drone Sighting{% endblock %}

{% block content %}
<h2>Drone Sightings</h2>
<ul>
    {% for sighting in sightings %}
        <li>{{ sighting.city }}, {{ sighting.state }} ({{ sighting.date_reported }})</li>
        <p>{{ sighting.description }}</p>
        <p>Coordinates: {{ sighting.latitude }}, {{ sighting.longitude }}</p>
        <p>Image: <a href="{{ sighting.image_link }}" target="_blank">{{ sighting.image_link }}</a></p>
        <p>Video: <a href="{{ sighting.video_link }}" target="_blank">{{ sighting.video_link }}</a></p>
    {% endfor %}
</ul>
{% endblock %}
